@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(./img/background-img.png);
  background-size: cover;
}
h1 {
  font-weight: bold;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 4px 4px black;
}
input {
  background-color: #d9d9d933;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: white;
  border: none;
  outline: none;
  padding: 19px;
  margin: 35px auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login {
  display: block;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  padding: 9px 33px;
  margin: 20px auto;
  background: rgba(0, 60, 255, 0.48);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.account {
  color: #ffffff;
  font-weight: 600;
  font-style: 18px;
  line-height: 27px;
  text-align: center;
  margin: 40px;
}
.register {
  color: #fff500;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  padding: 9px;
  cursor: pointer;
}
.or {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.line {
  letter-spacing: -3px;
  margin: 0px 10px;
}
.apps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin: 35px auto;
  width: 196px;
  padding: 8px 0px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.apps img {
  width: 27px;
  height: 27px;
}
.apps p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: inline;
}
.whatsapp {
  color: #ffffff;
  background-color: #60d669;
}
.facebook {
  color: #ffffff;
  background-color: #1877f2;
}
.google {
  color: #535553;
  background-color: #fffcfc;
}
